/* line 1, ../src/screen.sass */
* {
  margin: 0;
  padding: 0;
}

/* line 5, ../src/screen.sass */
body {
  font-family: Helvetica, Arial, sans-serif;
  size: 12px;
  background: white;
}

/* line 11, ../src/screen.sass */
p {
  margin: 0 0 18px 0;
}

/* line 14, ../src/screen.sass */
#container {
  width: 900px;
  margin: 0 auto;
}

/* line 18, ../src/screen.sass */
aside, #video-container {
  float: left;
}

/* line 21, ../src/screen.sass */
.clear {
  clear: both;
  overflow: hidden;
  height: 0;
}

/* line 26, ../src/screen.sass */
section#content {
  background: #f0f0f0;
  background: -moz-linear-gradient(center left, #f0f0f0, white);
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0.3, #f0f0f0), color-stop(0.6, white));
  padding: 10px 0;
}

/* line 31, ../src/screen.sass */
aside {
  margin: 0 0 0 6px;
  padding: 0 0 50px;
  width: 148px;
}
/* line 36, ../src/screen.sass */
aside h2 {
  font-size: 14px;
  font-weight: 200;
}
/* line 40, ../src/screen.sass */
aside ul {
  margin: 10px 0;
  list-style: none;
}
/* line 44, ../src/screen.sass */
aside ul li {
  margin: 0 0 3px 0;
  font-size: 11px;
}
/* line 48, ../src/screen.sass */
aside ul li a {
  background: url("../images/icon_filter.gif") no-repeat left 1px;
  color: #545454;
  text-decoration: none;
  display: block;
  padding: 0 0 0 18px;
}
/* line 55, ../src/screen.sass */
aside ul li a:hover {
  background: #cccccc url("../images/icon_filter_over.gif") no-repeat left 1px;
}
/* line 58, ../src/screen.sass */
aside ul li .selected {
  background: #cccccc url("../images/icon_filter_over.gif") no-repeat left 1px;
}

/* line 61, ../src/screen.sass */
#video-container {
  margin: 0 0 0 15px;
  width: 730px;
}

/* line 65, ../src/screen.sass */
header {
  border-bottom: 3px solid #ff2a06;
  margin-bottom: 3px;
}
/* line 71, ../src/screen.sass */
header #logo {
  margin: 20px 0 20px 0;
}
/* line 74, ../src/screen.sass */
header h1 {
  font-size: 21px;
  font-weight: 300;
  margin: 0 0 3px 0;
}
/* line 80, ../src/screen.sass */
header p {
  color: #545454;
  font-size: 11px;
}
/* line 85, ../src/screen.sass */
header nav#auth {
  background-color: #ececec;
  float: left;
  padding: 6px;
  width: 900px;
}
/* line 91, ../src/screen.sass */
header nav#auth ul.account {
  float: right;
  list-style: none;
}
/* line 95, ../src/screen.sass */
header nav#auth ul.account li {
  border-right: 1px solid #666666;
  display: inline;
  margin-right: 2px;
  padding-right: 5px;
}
/* line 104, ../src/screen.sass */
header nav#auth ul.account li a {
  font-size: 11px;
  color: red;
}
/* line 109, ../src/screen.sass */
header nav#auth ul.account li.last {
  border-right: none;
}

/* =Talks */
/* line 114, ../src/screen.sass */
.talk {
  font-size: 11px;
}

/* line 118, ../src/screen.sass */
.talk.inactive {
  height: 180px;
  position: relative;
  width: 240px;
  -webkit-transition: all ease-in-out 0.3s;
}
/* line 124, ../src/screen.sass */
.talk.inactive .about_this_talk {
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
  bottom: 0;
  padding: 3px;
  position: absolute;
}
/* line 131, ../src/screen.sass */
.talk.inactive h3 {
  color: white;
}

/* line 134, ../src/screen.sass */
.talk.active {
  background-color: #eeeeee;
  height: 180px;
  padding: 10px;
  width: 530px;
}
/* line 142, ../src/screen.sass */
.talk.active:hover {
  cursor: pointer;
}
/* line 145, ../src/screen.sass */
.talk.active img {
  float: left;
  height: 180px;
  margin: 0 10px 0 0;
  width: 240px;
}
/* line 151, ../src/screen.sass */
.talk.active .about_this_talk {
  float: left;
  width: 260px;
}
/* line 155, ../src/screen.sass */
.talk.active .about_this_talk h3 {
  margin: 0 0 10px 0;
}
/* line 158, ../src/screen.sass */
.talk.active .about_this_talk .meta {
  color: #666666;
  font-style: italic;
  margin: 0;
}
/* line 164, ../src/screen.sass */
.talk.active .about_this_talk .description {
  margin: 0 0 30px 0;
}
/* line 167, ../src/screen.sass */
.talk.active .about_this_talk .comment_share {
  margin: 0;
}
/* line 170, ../src/screen.sass */
.talk.active .about_this_talk .ratings {
  color: #666666;
}
/* line 173, ../src/screen.sass */
.talk.active .about_this_talk .ratings span.top_rating {
  color: black;
  font-weight: bold;
}
