/* line 1, ../src/screen.sass */
* {
  margin: 0;
  padding: 0;
}

/* line 5, ../src/screen.sass */
body {
  font-family: Helvetica, Arial, sans-serif;
  size: 12px;
  background: white;
}

/* line 11, ../src/screen.sass */
p {
  margin: 0 0 18px 0;
}

/* line 14, ../src/screen.sass */
#container {
  width: 900px;
  margin: 0 auto;
}

/* line 18, ../src/screen.sass */
aside, #video_container {
  float: left;
}

/* line 21, ../src/screen.sass */
.clear {
  clear: both;
  overflow: hidden;
  height: 0;
}

/* line 26, ../src/screen.sass */
aside {
  background: #f0f0f0;
  background: -moz-linear-gradient(center left, #f0f0f0, white);
  background: -webkit-gradient(linear, left top, right top, color-stop(0.3, #f0f0f0), color-stop(0.6, white));
}
/* line 30, ../src/screen.sass */
aside h2 {
  font-size: 14px;
}
/* line 33, ../src/screen.sass */
aside ul {
  margin: 10px 0;
}
/* line 35, ../src/screen.sass */
aside ul li {
  margin: 0 0 3px 0;
  font-size: 11px;
}
/* line 39, ../src/screen.sass */
aside ul li a {
  color: #545454;
}

/* line 42, ../src/screen.sass */
header {
  border-bottom: 3px solid #ff2a06;
  margin-bottom: 3px;
}
/* line 48, ../src/screen.sass */
header #logo {
  margin: 20px 0 20px 0;
}
/* line 51, ../src/screen.sass */
header h1 {
  font-size: 21px;
  margin: 0 0 3px 0;
}
/* line 56, ../src/screen.sass */
header p {
  color: #545454;
  font-size: 11px;
}
/* line 61, ../src/screen.sass */
header nav#auth {
  background-color: #ececec;
  float: left;
  padding: 6px;
  width: 900px;
}
/* line 67, ../src/screen.sass */
header nav#auth ul.account {
  float: right;
  list-style: none;
}
/* line 71, ../src/screen.sass */
header nav#auth ul.account li {
  border-right: 1px solid #666666;
  display: inline;
  margin-right: 2px;
  padding-right: 5px;
}
/* line 80, ../src/screen.sass */
header nav#auth ul.account li a {
  font-size: 11px;
  color: red;
}
/* line 85, ../src/screen.sass */
header nav#auth ul.account li.last {
  border-right: none;
}

/* =Talks */
/* line 91, ../src/screen.sass */
.talk {
  background-color: #eeeeee;
  height: 180px;
  font-size: 11px;
  padding: 10px;
  width: 530px;
}
/* line 100, ../src/screen.sass */
.talk img {
  float: left;
  height: 180px;
  margin: 0 10px 0 0;
  width: 240px;
}
/* line 106, ../src/screen.sass */
.talk .about_this_talk {
  float: left;
  width: 260px;
}
/* line 110, ../src/screen.sass */
.talk .about_this_talk h3 {
  margin: 0 0 10px 0;
}
/* line 113, ../src/screen.sass */
.talk .about_this_talk .meta {
  color: #666666;
  font-style: italic;
  margin: 0;
}
/* line 119, ../src/screen.sass */
.talk .about_this_talk .description {
  margin: 0 0 30px 0;
}
/* line 122, ../src/screen.sass */
.talk .about_this_talk .comment_share {
  margin: 0;
}
/* line 125, ../src/screen.sass */
.talk .about_this_talk .ratings {
  color: #666666;
}
/* line 128, ../src/screen.sass */
.talk .about_this_talk .ratings span.top_rating {
  color: black;
  font-weight: bold;
}
