*
	margin: 0
	padding: 0
	
body
	font:
		family: Helvetica, Arial, sans-serif
	size: 12px
	background: #fff

p
	margin: 0 0 18px 0
	
#container
	width: 900px
	margin: 0 auto
	
aside, #video_container
	float: left

.clear
	clear: both
	overflow: hidden
	height: 0

section#content
	background: #F0F0F0 /* For IE */
	background: -moz-linear-gradient(center left, #F0F0F0, #FFFFFF)
	background: -webkit-gradient(linear, left bottom, right top, color-stop(0.30, #F0F0F0), color-stop(0.60, #FFFFFF))
	
aside

	h2
		font:
			size: 14px
			weight: 200
	ul
		margin: 10px 0
		list-style: none
		
		li
			margin: 0 0 3px 0
			font:
				size: 11px
			a
				color: #545454
				text-decoration: none
				display: block
				
				&:hover
					

header
	border:
		bottom: 3px solid #FF2A06
	margin:
		bottom: 3px
	
	#logo
		margin: 20px 0 20px 0
		
	h1
		font:
			size: 21px
			weight: 300
		margin: 0 0 3px 0
	
	p
		color: #545454
		font:
			size: 11px
	
	nav#auth
		background-color: #ECECEC
		float: left
		padding: 6px
		width: 900px
		
		ul.account
			float: right
			list-style: none
	
			li
				border:
					right: 1px solid #666666
				display: inline
				margin:
					right: 2px
				padding:
					right: 5px
					
				a
					font:
						size: 11px
					color: #FF0000
				
			li.last
				border:
					right: none

/* =Talks */
.talk
	font:
		size: 11px

.talk.inactive
	height: 180px
	position: relative
	width: 240px
	-webkit-transition: all ease-in-out 0.3s
		
	.about_this_talk
		background-color: #000000
		background-color: rgba(0, 0, 0, 0.4)
		bottom: 0
		padding: 3px
		position: absolute

	h3
		color: #FFFFFF

.talk.active
	background:
		color: #EEEEEE
	height: 180px
	padding: 10px
	width: 530px
	
	
	&:hover
		cursor: pointer

	img
		float: left
		height: 180px
		margin: 0 10px 0 0
		width: 240px

	.about_this_talk
		float: left
		width: 260px

		h3
			margin: 0 0 10px 0

		.meta
			color: #666666
			font:
				style: italic
			margin: 0

		.description
			margin: 0 0 30px 0

		.comment_share
			margin: 0

		.ratings
			color: #666666
		
			span.top_rating
				color: #000000
				font:
					weight: bold
