*
	margin: 0
	padding: 0
	
body
	font:
		family: Helvetica, Arial, sans-serif
	size: 12px
	background: #fff

p
	margin: 0 0 18px 0
	
#container
	width: 900px
	margin: 0 auto
	
aside, #video_container
	float: left

.clear
	clear: both
	overflow: hidden
	height: 0

aside
	background: #F0F0F0 /* For IE */
	background: -moz-linear-gradient(center left, #F0F0F0, #FFFFFF)
	background: -webkit-gradient(linear, left top, right top, color-stop(0.30, #F0F0F0), color-stop(0.60, #FFFFFF))
	h2
		font:
			size: 14px
	ul
		margin: 10px 0
		li
			margin: 0 0 3px 0
			font:
				size: 11px
			a
				color: #545454 

header
	border:
		bottom: 3px solid #FF2A06
	margin:
		bottom: 3px
	
	#logo
		margin: 20px 0 20px 0
		
	h1
		font:
			size: 21px
		margin: 0 0 3px 0
	
	p
		color: #545454
		font:
			size: 11px
	
	nav#auth
		background-color: #ECECEC
		float: left
		padding: 6px
		width: 900px
		
		ul.account
			float: right
			list-style: none
	
			li
				border:
					right: 1px solid #666666
				display: inline
				margin:
					right: 2px
				padding:
					right: 5px
					
				a
					font:
						size: 11px
					color: #FF0000
				
			li.last
				border:
					right: none
